/*body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}


#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('pic/pan.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
  width: 20px;
  height: 20px;
}*/
/*
body {
  background-color: gray;
}

#navid {
  background-color: pink;
  border-radius: 0;
  border: 0;
}

#logoimg {
   width: 150px;
  height: 150px;
  margin: 10px 20px 10px 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand h1{
  color: maroon;
  line-height: 0.75em;
}

.navbar-brand span {
  color: black;
  vertical-align: center;
}
#list {
  padding-top: 20px;
    font-size: 1.3em;
    float: right;
}
#list li {
  text-align: center;
}
#list li a:hover {
  background-color: white;
}
#list span {
  font-size: 1.5em;
}
.navbar-header button.navbar-toggle {
  border: 1px solid maroon;
}

#phone a{
font-size: 0.8em;
margin-top: 5px;
padding-bottom: 0;
}

#phone div {

text-align: right;
padding-right: 15px;
margin: 0;
}

@media (max-width: 767px) {
  #list {
    float: none;
    padding-top: 0;
  }
  #list span {
    padding-right: 10px;
  }
  .navbar-brand {
    padding-top: 5px;
  }
  .navbar-brand h1 {
font-size: 30px;
  }
  #collapsable-nav {
    margin-top: 50px;
  }
 }
 */

 body{
  background-color: #FDF5E6;
  color: #1C1C1BFF;
  font-family: Apple Chancery, cursive;
 }

 #nid {
  background-color: lightgray;
  border: 0;
  border-radius: 0;
  height: 70px;
 }

 .navbar-brand h1 {
  margin: 0;
  padding-left: 10px;
  color: #1C1C1BFF;
  margin-left: 30px;
 }
 .navbar-brand a:hover , .navbar-brand a:focus {
  text-decoration: none;
 }
 .navbar-brand {
  padding: 20px 0 10px;
 }

 .navbar-default .navbar-toggle {
margin-top: 20px;
border: 1.5px solid #1C1C1BFF;
margin-right: 30px;
 }

.navbar-default .navbar-toggle .icon-bar {
  height: 3px;
  background-color:#1C1C1BFF;
}
div#collapsable-nav {
  width: 100%;
  margin: 0;
}
#list {
  background-color: white;
}

#list li {
  text-align: center;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
  color:#1C1C1BFF;
}
#list li a:hover {
  background-color: darkgrey;
  color: white;
}
#headcon {
 padding: 0;
}

#main-content {
  background-color: white;
  height: 1000px;
  margin-top: 50px;
  margin-bottom: 30px;
  opacity: 0.8;
  padding: 5px 20px 20px 20px;
} 
#main-content>h3 {
  color: black;
}

@media (max-width: 767px) {
  #main {
margin-top: 90px;
  }

}
